 #promocion {  display: inline-flex;  height: 45px;}

 .logo {width: 20%;}
 .w3l_offers {margin: auto;}

.logoAmazon {width: 25%;}

.w3l_search, .sorting, .sorting-left, .pagination, .w3layouts-foot, .footer-botm, .w3l_offers   { display: none;}

.eslogan { font-size: 40%!important;}

.agile_top_brand_left_grid1, .footer {text-align: center;}

.linkdiferente {color: #555!important;}

.banner1 { display: inline; margin: 7em;}
/*pantallas grandes*/
/*MEDIA QUERIES PARA PANTALLAS SUPERIORES A 1300PX*/
@media only screen and (min-width: 1100px) { .eslogan { font-size: 80%!important;}}

/*pantallas pequeñas*/
/*MEDIA QUERIES PARA PANTALLAS INFERIORES A 796PX*/
@media only screen and (max-width: 796px) {
.banner1 {margin: 3em;}}
