/*COLORES BANNER SEMANA: 87877b f5ae13 9ce89c


*/
#bs-megadropdown-tabs > ul > li:nth-child(8) > a { display: none;} /*blog*/
#bs-megadropdown-tabs > ul > li:nth-child(9) > a { display: none;} /*promociones*/

 #promocion {  height: 60px;  text-align: center; }
 .titulos { color: #fe9126;}
 .contactanos, .banner1 { display: none!important;}

 .logo {width: 20%;}
 .w3l_offers {margin: auto;}

.logoAmazon {width: 25%;}


.w3l_search, .sorting, .sorting-left, .pagination, .w3layouts-foot, .footer-botm, .w3l_offers   { display: none;}

.eslogan { font-size: 40%!important;}

.agile_top_brand_left_grid1, .footer {text-align: center;}

.linkdiferente {color: #555!important;}

.banner1 { display: inline; margin: 7em;}

.textoBanner0 { color: #fe9126!important;

    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;}
.skdslider { min-height: 180px;}
body > div.products > div > div.col-md-4.products-left > div > ul > ul:nth-child(10), body > div.products > div > div.col-md-4.products-left > div > ul > li:nth-child(9)  {display:  none;}

#bs-megadropdown-tabs > ul > li:nth-child(6) > a { display: none;}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img { width: 100%!important;}

/*pantallas grandes*/
/*MEDIA QUERIES PARA PANTALLAS SUPERIORES A 1300PX*/
@media only screen and (min-width: 1100px) { .eslogan { font-size: 80%!important;}}

/*pantallas pequeñas*/
/*MEDIA QUERIES PARA PANTALLAS INFERIORES A 796PX*/
@media only screen and (max-width: 796px) {
.banner1 {margin: 3em;}
.logo {
    width: 50%;
}
}

/*pantallas pequeñas*/
/*MEDIA QUERIES PARA PANTALLAS INFERIORES A 796PX*/
@media only screen and (max-width: 396px) {
.banner1 {margin: 3em;}
.logo {
    width: 90%;
}
}
