header.masthead .intro-text .intro-heading {
    font-size: 35px;
  }
.intro-heading { -webkit-text-stroke: black 2.1px;}

#logos {
    width: 40px;
    margin: 15px;
}

#textoVerde { color: green;}
.numero {
    display: flex;
    width: 509px;
    MARGIN: auto; color: wheat;
}
/*ESTILOS LOGOS CENTRADOS*/
.cajaFlexible, .textoImagenes {
    display: flex;
    justify-content: center;
}
#skype { display: none;}

#textosIluminados {
    color:red;
}
.textosIluminados1 {
    color: yellow!important;
}
#textosIluminados {
    animation-name: intervalo;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes intervalo {
  0% {}
  25% { color: rgba(255, 255, 0, 0.75);}
  50% { color: rgba(255, 188, 0, 0.48);}
  85% { color: rgba(255, 0, 0, 0.67);}
  100% { color: rgb(255, 0, 0);}
}

/*reutilizando los efectos para mostrar elementos al navegar con el scroll*/
.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 600ms linear;
  -webkit-transition: all 600ms linear;
  -o-transition: all 600ms linear;
  transition: all 600ms linear;
  -moz-transform: translate3d(20px, 0px, 0px);
  -webkit-transform: translate3d(20px, 0px, 0px);
  -o-transform: translate(20px, 0px);
  -ms-transform: translate(20px, 0px);
  transform: translate3d(20px, 0px, 0px);
}
/*efecto personalizado de aparecer por JDA*/
.animation-element2.aparecer {
  opacity: 0;
  -moz-transition: all 900ms linear;
  -webkit-transition: all 900ms linear;
  -o-transition: all 900ms linear;
  transition: all 900ms linear;
}
/*efecto personalizado de aparecer por JDA*/
.animation-element2.aparecer.in-view2 {
  opacity: 1;
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

/*derecha desde la perspectiva del usuario*/
.animation-element.slide-right {
opacity: 0;
-moz-transition: all 600ms linear;
-webkit-transition: all 600ms linear;
-o-transition: all 600ms linear;
transition: all 600ms linear;
-moz-transform: translate3d(-20px, 0px, 0px);
-webkit-transform: translate3d(-20px, 0px, 0px);
-o-transform: translate(-20px, 0px);
-ms-transform: translate(-20px, 0px);
transform: translate3d(-20px, 0px, 0px);
}

.animation-element.slide-right.in-view {
opacity: 1;
-moz-transform: translate3d(0px, 0px, 0px);
-webkit-transform: translate3d(0px, 0px, 0px);
-o-transform: translate(0px, 0px);
-ms-transform: translate(0px, 0px);
transform: translate3d(0px, 0px, 0px);

}


@media ( max-width: 480px) {
.section-heading {
    font-size: 30px!important; }

}

@media ( max-width: 340px) {
 body {
    width: fit-content; }

}
