/*Estilos añadidos por JDA hijo de mataleones*/

.bg-image-full { padding-top: 30rem!important;}
#textoDiferente { color: red; }
.logo { width: 100px; } #logos { width: 40px;     margin: 15px;}
.textos {text-align: center;}
.navbar-brand { display: none;}
#textosIluminados {color: azure; }
.textosIluminados1 { color: #e89c55!important;}
#telefono { text-align: center; background-image: url('../images/skype.png');}
#textosIluminados {
  animation-name: intervalo;
  animation-duration: 4s;
  animation-iteration-count: infinite;

}
@keyframes intervalo {
  0% {}
  25% {}
  50% {-webkit-text-stroke: #623535 0.9px;}
  85% {}
  100% {}
}
#flexBoxes { display: flex; flex-direction: column;}
.cajaFlexible, .textoImagenes { display: flex; justify-content: center;}
.textoImagenes {    border: solid;
    margin-bottom: 3rem;}
.hangoutContenedor {
margin-top: 1rem;
}
span a {
    background:#222;
    color:#fff;
    display:inline-block;

    margin:10px 10px 0 0;
    padding:5px 10px
}
.contenedor { max-width: 50%;

    margin: auto;}
.iconospagos {     width: 100px;
    height: 100px;}
.encabezados { color: black;}
body { overflow-x: hidden;}
.elementosN { width: 100%;  background-color: black;
    opacity: 0.6;}

#textoImagenes {     flex-direction: row-reverse;
}
/*MODAL*/

/* The Modal (background) */
#myBtn, #myBtn1 { cursor: pointer; width: 100%;}
#myBtn:hover, #myBtn1:hover { color: red; background-color: black;}

.modal, .modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content, .modal-content1 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close, .close2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus,.close1:hover,
.close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*Media queries por JDA hijo de mataleones*/
@media screen and (min-width: 480px) {

      .contenedor { max-width: 100%;

          margin: auto;}

}









/*reutilizando los efectos para mostrar elementos al navegar con el scroll*/
.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 600ms linear;
  -webkit-transition: all 600ms linear;
  -o-transition: all 600ms linear;
  transition: all 600ms linear;
  -moz-transform: translate3d(20px, 0px, 0px);
  -webkit-transform: translate3d(20px, 0px, 0px);
  -o-transform: translate(20px, 0px);
  -ms-transform: translate(20px, 0px);
  transform: translate3d(20px, 0px, 0px);
}
/*efecto personalizado de aparecer por JDA*/
.animation-element2.aparecer {
  opacity: 0;
  -moz-transition: all 900ms linear;
  -webkit-transition: all 900ms linear;
  -o-transition: all 900ms linear;
  transition: all 900ms linear;
}
/*efecto personalizado de aparecer por JDA*/
.animation-element2.aparecer.in-view2 {
  opacity: 1;
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

/*derecha desde la perspectiva del usuario*/
.animation-element.slide-right {
opacity: 0;
-moz-transition: all 600ms linear;
-webkit-transition: all 600ms linear;
-o-transition: all 600ms linear;
transition: all 600ms linear;
-moz-transform: translate3d(-20px, 0px, 0px);
-webkit-transform: translate3d(-20px, 0px, 0px);
-o-transform: translate(-20px, 0px);
-ms-transform: translate(-20px, 0px);
transform: translate3d(-20px, 0px, 0px);
}

.animation-element.slide-right.in-view {
opacity: 1;
-moz-transform: translate3d(0px, 0px, 0px);
-webkit-transform: translate3d(0px, 0px, 0px);
-o-transform: translate(0px, 0px);
-ms-transform: translate(0px, 0px);
transform: translate3d(0px, 0px, 0px);

}
/* Style the container with a rounded border, grey background and some padding and margin */
.containert {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
}
.numero {

  display: flex;
      width: 509px;
      MARGIN: auto; color: white;

}
.consulta { color: green;}
/*Imagenes centradas*/
.imagencentrada {
display: block;

    max-width: 100%;
    margin-right: auto!important;
    margin-left: auto!important;

  }
  #skype { display: none;}
.lead { color: black;}
  /*IMÁGENES INICIALES*/

  .primercontenedor { background-color: aliceblue; color: #de7009;}
  .segundocontenedor { background-color: rgba(222, 112, 9, 0.69); color: aliceblue;}
/* Clear floats after containers */
.containert::after {
    content: "";
    clear: both;
    display: table;
}

/* Float images inside the container to the left. Add a right margin, and style the image as a circle */
.containert img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

/* Increase the font-size of a span element */
.containert span {
    font-size: 20px;
    margin-right: 15px;
}

/* Add media queries for responsiveness. This will center both the text and the image inside the container */
@media (max-width: 500px) {
  .containert {
    text-align: center;
  }

  .containert img {
    margin: auto;
    float: none;
    display: block;
  }
  .textoImagenes { display: inherit;}
  .iconospagos {     width: 50px;
      height: 50px;}
      .modal-content, .modal-content1 { margin-top: 70px;}
  }
